# Environment variables
.venv/
.env.*

# Python Misc
__pycache__/
*.pyc
*.egg-info/
build/

# Dataset
datasets/
processed/

# Training
checkpoints/
results/*.npy

# Jupyter
.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/

# Apple Misc
.DS_Store

outputs/
outputs*